<% if @article.errors.full_messages.present? %>
  <% @article.errors.full_messages.each do |msg| %>
    <p><%= msg %><p>
  <% end %>
<% end %>

<h1>ユーザー登録</h1>
<%= form_for(@article) do |f| %>
  <%= f.label :タイトル %>
  <p> <%= f.text_field :title %></p>
  <%= f.label :本文 %>
  <p> <%= f.text_field :content %></p>
  <%= f.submit %>
<% end %>
